config SHIELD_SLOTYPE
    def_bool $(shields_list_contains,slotype)

config SHIELD_SLOTYPE_LEFT
    def_bool $(shields_list_contains,slotype_left)

config SHIELD_SLOTYPE_RIGHT
    def_bool $(shields_list_contains,slotype_right)